header{
  display: flex;
  width: 100vw;
  height: 15vh;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
}

nav{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

li{
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 20px;
  background: #444;
  color: #ebebeb;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 85vh;
}
