ul{
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

li{
  font-size: 22px;
  font-weight: 500;
  padding: 10px 15px;
  color: #fff;
  background: #444;
  cursor: pointer;
}
